
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-top: 30px;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.link {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  transition: color 1s ease, transform 0.3s ease;
  padding: 5px;
}

.link:hover {
  color: aqua;
  border: 3px solid aqua;
  border-radius: 10px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  background: linear-gradient(to right, #3d5afe, #2979ff, #00b0ff);
}

.link:active {
  background: linear-gradient(to right, #ffeb3b, #ffc107, #ff9800);
}

.link:hover {
  transform: scale(120%);
}
